# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [ ]:
import numpy as np

2. Create a null vector of size 10

In [ ]:
null_vector = np.zeros(10)

3. Create a vector with values ranging from 10 to 49

In [ ]:
v = np.arange(10,49)

4. Find the shape of previous array in question 3

In [ ]:
v.shape

5. Print the type of the previous array in question 3

In [ ]:
print(v.dtype)

6. Print the numpy version and the configuration

In [ ]:
print(np.__version__)
print(np.show_config())

7. Print the dimension of the array in question 3

In [ ]:
print(arr.shape)

8. Create a boolean array with all the True values

In [ ]:
bool_arr = np.ones(10, dtype=bool)

9. Create a two dimensional array

In [ ]:
x_2d = np.array([[1, 2, 3], [4, 5, 6]], np.int32)

10. Create a three dimensional array

In [ ]:
x_3d = np.array([[1, 2, 3], [4, 5, 6],[7,8,9]], np.int32)

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [ ]:
x_11 = np.arange(0,10)
x_reverse = x_11[::-1]

12. Create a null vector of size 10 but the fifth value which is 1

In [ ]:
x_12 = np.zeros(10)
x_12[5]=1

13. Create a 3x3 identity matrix

In [ ]:
array_2D=np.identity(3)

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [ ]:
arr = arr.astype('float64')

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [ ]:
out_arr = np.multiply(arr1, arr2)

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [ ]:
print(arr1 == arr2)

17. Extract all odd numbers from arr with values(0-9)

In [ ]:
x_17=np.arange(0,9)
x_17_odd=x_17[x_17 % 2 == 1]

18. Replace all odd numbers to -1 from previous array

In [ ]:
x_18=x_17[x_17%2 == 1] = -1

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [ ]:
arr[5 : 8] = 12

20. Create a 2d array with 1 on the border and 0 inside

In [ ]:
x_20 = np.ones((4,4))
x_20[1:-1,1:-1] = 0

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [ ]:
x[x == 5] = 12

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [ ]:
arr3d[0, :1, ::]=64

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [ ]:
array2d = np.arange(0,10).reshape(-1,5)
print(array2d[:1])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [ ]:
array2d = np.arange(0,10).reshape(-1,5)
print(array2d[1:])

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [ ]:
array1 = np.arange(0,10).reshape(-1,5)
print(array1[[0,1],3])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [ ]:
x = np.random.random((10,10))
xmin, xmax = x.min(), x.max()

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [ ]:
np.intersect1d(a,b)

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [ ]:
np.where(a == b)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [ ]:
data[names != "Will"]

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [ ]:
print(data[names!="Will"])
print(data[names!="Joe"])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [ ]:
x_31=np.random.randn(1,15).reshape(5,3)

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [ ]:
x_32=np.random.randn(1,16).reshape(2,2,4)

33. Swap axes of the array you created in Question 32

In [ ]:
x_33=x_32.T

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [ ]:
sqrt=np.sqrt(np.arange(10))
np.where(sqrt<0.5,0,sqrt)

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [ ]:
a=np.random.randint(12)
b=np.random.randint(12)
np.maximum(a,b)

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [ ]:
set(names)

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [ ]:
np.setdiff1d(a,b)

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [ ]:
sampleArray = numpy.delete(sampleArray , 1, axis = 1)
arr = numpy.array([[10,10,10]])
sampleArray = numpy.insert(sampleArray , 1, arr, axis = 1)

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [ ]:
np.dot(x,y)

40. Generate a matrix of 20 random values and find its cumulative sum

In [ ]:
x_40=np.random.rand(20)
print(np.cumsum(x_40))